.formatting-header {
  font-family: 'Parmanent Marker';
  display: flex;
  justify-content: center;
}
.formatting {
    font-family: 'Parmanent Marker';
    display: flex;
}
.navigator{
  display: flex;
}
.imageContainer {
  display: flex;
  justify-content: center;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: #000505;
    border-width: 1px 0 0 0;
}

header > div > h1 {
  font-size: 70px;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}
nav {
  justify-content: space-evenly;
  font-size: 20px; 
  font-family: 'Permanent Maker';
  padding 20px;
}
a:link    { color: #000505;}
a:visited { color: #61548C;}
a:hover   { color: #BFCDE0;}
a:active  { color: #7D7DA1;}
body {
  background-color: #FEFCFD;
}
main {
  padding: 40px;
}
.links{
  display: flex;
  justify-content: space-around;
}
#connect{
  width: 100%;
}
.footer{
  margin-top: 120px;
  font-size: 10px;
}
