p, .imageContainer, header > div > h1, nav {
    display: flex;
    justify-content: center;
    font-family: 'Parmanent Marker';
}
imageContainer {
     width: 400px;
     height: 500px;
}

hr {
    width: 420px;
    height: 32px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000505; 
}
header > div > h1 {
  font-size: 70px;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}
nav {
  justify-content: space-evenly;
  font-size: 20px; 
  font-family: 'Permanent Maker';	
}
a:link    { color: #000505;}
a:visited { color: #3B3355;}
a:hover   { color: #BFCDE0;}
a:active  { color: #5D5D81;}
body {
  background-color: #FEFCFD;
}
main {
  padding: 40px;
}

