p {
    display: flex;
    justify-content: center;
}
.imageContainer {
    display: flex;
    justify-content: center;
}
hr {
    width: 420px;
	height: 32px;
	border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
